## .NET / C#
bin/
obj/
*.user
*.suo
.vs/

## Sensitive Configs (Keep secret credentials off Git)
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
appsettings.*.json
!appsettings.json

## Node / React
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Database & OS
*.backup
pgdata/
.DS_Store
Thumbs.db